/* Here is the only experience styling */

.work-experience-card-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
}

/* Flip Cards */
.flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80%;
    width: 20rem;
    height: 22rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border-radius: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgba(255, 255, 255, 0.123);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border-radius: 10px;
}

.card-word-exp-img {
    width: 50%;
    border-radius: 20px;
}

#workSampleContainer {
    display: flex;
    width: 99%;
    padding: 0.5rem 1rem;
    padding-left: 1.2rem;
    flex-wrap: wrap;
    background-color: rgb(128 128 128 / 33%);
}

.flip-card-back {
    background-color: #1010109c;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

.word-exp-heading {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
    margin-top: 2rem;
}

.skills-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 2rem;

}

.skill-tags {
    border: 3px dotted #888;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


@media screen and (max-width:672px) {
    .work-experience-card-container {
        padding-left: 0;
        justify-content: center;
    }

    .skills-container {
        padding-left: 0;
    }

    .skill-tags {
        padding: 5px 10px;
    }

    .word-exp-heading {
        padding-left: 1rem;
    }
}